@{
    ViewBag.Title = "Home Page";
}

<body>

    <div class="jumbotron" name="jumbotron" >
        <h1>Sell Our Coffee with Your Own Private Label</h1>
        <p class="lead">All new partners receive 20% off of their first order and private label design.</p>
        <p><a href="/Home/Register" class="btn btn-primary btn-lg" style="background: brown">Click to Register&raquo;</a></p>
    </div>


    <div class="row">
        <div class="col-md-4" style="border: solid brown">
            <h2 style="text-align:center">Brazilian Light Roast</h2>
            <img src="~/Style/images/brazil.jpg" width="350" height="212" alt="bLht">

            <p>
                Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.
            </p>
            
        </div>
        <div class="col-md-4" style="border: solid brown ; border-spacing: 5px ">
            <h2 style="text-align:center">Brazilian Medium Roast</h2>
            <img src="~/Style/images/brazil.jpg" width="350" height="212" alt="bMed">
            <p>
                Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.
            </p>

            
        </div>
        <div class="col-md-4" style="border: solid brown">
            <h2 style="text-align:center">Brazilian Dark Roast</h2>
            <img src="~/Style/images/brazil.jpg" width="350" height="212" alt="bDrk">
            <p>
                Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.
            </p>

            
        </div>
        <div class="col-md-4" style="border: solid brown">
            <h2 style="text-align:center">Honduran Light Roast</h2>

            <img src="~/Style/images/honduras.jpg" width="350" height="212" alt="hLht">
            <p>
                Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.
            </p>

            
        </div>
        <div class="col-md-4" style="border: solid brown">
            <h2 style="text-align:center">Honduran Medium Roast</h2>
            <img src="~/Style/images/honduras.jpg" width="350" height="212" alt="hMed">
            <p>
                Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.
            </p>

            
        </div>
        <div class="col-md-4" style="border: solid brown">
            <h2 style="text-align:center">Honduran Dark Roast </h2>
            <img src="~/Style/images/honduras.jpg" width="350" height="212" alt="hDrk">
            <p>
                Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.
            </p>

            
        </div>
        <div class="col-md-4" style="border: solid brown">
            <h2 style="text-align:center">Columbian Light Roast </h2>

            <img src="~/Style/images/columbia.jpg" width="350" height="212" alt="cLht">
            <p>
                Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.
            </p>

            
        </div>
        <div class="col-md-4" style="border: solid brown">
            <h2 style="text-align:center">Columbian Medium Roast </h2>
            <img src="~/Style/images/columbia.jpg" width="350" height="212" alt="cMed">
            <p>
                Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.
            </p>

           
        </div>
        <div class="col-md-4" style="border: solid brown">
            <h2 style="text-align:center">Columbian Dark Roast </h2>
            <img src="~/Style/images/columbia.jpg" width="350" height="212" alt="cDrk">
            <p>
                Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.
            </p>

            
        </div>
    </div>


</body>